#todo: env file, look at populating config from env, building env from shared config

version: '3'

services:
    nginx:
        image: nginx:${NGINX_VERSION}
        ports:
            - ${NGINX_PORT}:80
        networks:
            - appNet
            - dbNet
        volumes:
            - ./env/.config/nginx.conf:/etc/nginx/conf.d/default.conf
            - ./www:/var/www
        depends_on:
          - php

    php:
        image: php:${PHP_VERSION}
        expose:
            - 9000
        networks:
            - appNet
        volumes:
            - ./www:/var/www
        working_dir: /var/www

    composer:
        image: composer/composer:${COMPOSER_VERSION}
        command: ${COMPOSER_COMMAND}
        networks:
            - appNet
        volumes:
            - ./www:/app

    mysql:
        image: mysql:${MYSQL_VERSION}
        ports:
            - ${MYSQL_PORT}:3306
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE_NAME}
            MYSQL_USER: ${MYSQL_DATABASE_USER}
            MYSQL_PASSWORD: ${MYSQL_DATABASE_PASSWORD}
        networks:
            - dbNet
            - trackerNet
        volumes:
            - mysqlData:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin/phpmyadmin:${PHPMYADMIN_VERSION}
        ports:
            - ${PHPMYADMIN_PORT}:80
        environment:
            PMA_HOST: mysql
        networks:
            - dbNet
        depends_on:
            - mysql

    redis:
        image: redis:${REDIS_VERSION}
        ports:
          - ${REDIS_PORT}:6379
        networks:
          - trackerNet
        volumes:
          - redisData:/data

    phpredmin:
        image: sasanrose/phpredmin:${PHPREDMIN_VERSION}
        ports:
            - ${PHPREDMIN_PORT}:80
        networks:
            - trackerNet
        volumes:
            - ./env/.config/phpredmin.php:/var/www/html/phpredmin/config.php
        depends_on:
            - redis

    #todo: generate key on build, avoid user input
    icemika:
        build:
            context: ./env
            dockerfile: ./containers/iceMika/DockerFile
        networks:
            - trackerNet
        volumes:
            - ./env/src/github.com/Goon3r/iceMika:/go/src/github.com/Goon3r/iceMika
            - ./env/.config/icemika.json:/go/src/github.com/Goon3r/iceMika/config.json
        depends_on:
            - mysql
            - redis

networks:
    appNet:
        driver: bridge
    dbNet:
        driver: bridge
    trackerNet:
        driver: bridge

volumes:
    mysqlData:
        driver: local
    redisData:
        driver: local